# SPDX-License-Identifier: Apache-2.0
FUNCTION_NAME=admin-service
NODE_ENV=dev

MAX_CPU=

# Nats
SERVER_URL=0.0.0.0:4222
PRODUCER_STREAM=event-director
STARTUP_TYPE=nats

# Fastify
PORT=3000

# MISC
CACHE_TTL=0 # Used for Data cache object and redis cache.
TRANSACTION_HISTORY_DATABASE_CERT_PATH=
QUOTING='false'

# REDIS
REDIS_DB=0
REDIS_AUTH="exampleAuth"
REDIS_SERVERS='[{"host":"127.0.0.1", "port":6379}, {"host":"127.0.0.1", "port":6380}]'
REDIS_IS_CLUSTER=false

# ArangoDB
PSEUDONYMS_DATABASE=pseudonyms
TRANSACTION_HISTORY_DATABASE=transactionHistory
TRANSACTION_HISTORY_DATABASE_URL=tcp://0.0.0.0:8529
TRANSACTION_HISTORY_DATABASE_USER=root
TRANSACTION_HISTORY_DATABASE_PASSWORD=''
TRANSACTION_HISTORY_PAIN001_COLLECTION=transactionHistoryPain001
TRANSACTION_HISTORY_PAIN013_COLLECTION=transactionHistoryPain013
TRANSACTION_HISTORY_PACS008_COLLECTION=transactionHistoryPacs008
TRANSACTION_HISTORY_PACS002_COLLECTION=transactionHistoryPacs002
PSEUDONYMS_DATABASE_URL=
PSEUDONYMS_DATABASE_USER=root
PSEUDONYMS_DATABASE_PASSWORD=
PSEUDONYMS_DATABASE_CERT_PATH=
QUOTING='true'

# ELASTIC APM
APM_ACTIVE=true
APM_SERVICE_NAME=admin-service
# APM_URL=127.0.0.1:4857
APM_URL=http://apm:8200
APM_SECRET_TOKEN=""

# LOGGING
LOGSTASH_HOST=logstashhost
LOGSTASH_PORT=8080
LOGSTASH_LEVEL='info'
SIDECAR_HOST=0.0.0.0:5000
